#board {
  margin-top: @default-padding*2;

  > header {
    text-align: center;
  }
}

h2 {
  font-size: 28px;
  color: @main-header;
  display: inline-block;
  background-color: @text-bg;
  border-radius: @default-border-radius;
  .outer-glow;

  > a {
    display: inline-block;
    margin: @default-padding*1.4 @default-padding*1.2;
  }
}

#threads {
  margin: @default-padding;
  margin-top: @default-padding*2;
}

#pagination {
  display: inline-block;
  margin: @default-padding;
  background-color: @text-bg;
  padding: @default-padding/2 @default-padding;
  border-radius: @default-border-radius;
  .outer-glow;

  > #page-list {
    list-style-type: none;
    display: inline;

    > .entry {
      display: inline;
      margin-left: @default-padding/2;

      &:last-child {
        margin-right: @default-padding/2;
      }
    }

    > .entry.active {
      font-weight: bold;
    }
  }
}