.thread {
  margin-bottom: @default-padding*2;
  overflow: hidden;

  &:not(:last-child) {
    padding-bottom: @default-padding*2.7;
  }
}

.file-info {
  font-size: 12px;

  > a {
    color: @text;
    text-decoration: underline;

    &:hover {
      color: @link;
    }
  }
}

img {
  float: left;
  margin: 0 @default-padding @default-padding 0;
  .outer-glow;
}

.poster-name {
  font-weight: bold;
  color: @anonymous-green;
}

.thread > header {
  background-color: @text-bg;
  padding: @default-padding/2 @default-padding;
  margin-bottom: @default-padding/2;
  border-radius: @default-border-radius;
  .outer-glow;

  > .subject {
    font-weight: bold;
  }

  > .reply-link {
    font-weight: bold;
    color: @text-bg;
    background-color: @link;
    padding: @default-padding/4 @default-padding/2;
    border-radius: @default-border-radius;
    margin-left: @default-padding/2;

    &:hover {
      background-color: @link-hover;
    }
  }
}

.post {
  margin-bottom: @default-padding;
  max-width: 65em;

  > .indicator {
    color: @bg-darker;
    font-weight: bold;
    float: left;
    margin-right: @default-padding/2;
  }

  > .body {
    display: table;
    border-radius: @default-border-radius;

    > .content {
      min-width: 20em;

      > .quote {
        color: @georgecostanza;
      }
    }
  }

  &:first-of-type {
    > .body {
      padding: @default-padding/4 @default-padding/2;

      > .content {
        margin: @default-padding 0 @default-padding/2 0;
      }
    }
  }

  &:not(:first-of-type) {
    > .body {
      padding: @default-padding/2 @default-padding;
      background-color: @text-bg;
      .outer-glow;

      img {
        margin-right: @default-padding*2;
      }

      > .content {
        padding: @default-padding;
        padding-left: @default-padding*2;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
