.thread {
  margin-bottom: @default-padding*2;
  display: block;
  width: 100%;
  float: left;
}

.thread:not(:last-child) {
  padding-bottom: @default-padding*2.7;
  border-bottom: 1px dotted @bg-darker;
}

.file {
  display: inline;

  > .info {
    font-size: 11px;
  }

  img {
    float: left;
    margin-right: @default-padding*1.5;
  }
}

.reply {
  display: table;

  > .info {
    height: 1.7em;

    > .poster-name {
      font-weight: bold;
    }
  }
}

.reply.op {
  > .info {
    display: block;
  }

  > .content {
    display: block;
  }
}

.reply:not(.op) {

  background-color: @text-bg;
  margin: @default-padding;
  padding: @default-padding/2 @default-padding;
  border-radius: @default-border-radius;
  .outer-glow;

  > .info {
  }
}

.reply-link {
  font-weight: bold;
}
