@(board: entities.Board, threadOption: Option[entities.Thread] = None, postForm: Form[forms.PostForm])(implicit flash: Flash)

@import helper._

@main("%s - %s".format(board.slashizedName, board.fullName)) {

  @flash.get("error").map { message =>
    <div>@message</div>
  }

  @flash.get("failure").map { _ =>
    <div>Internal error has occurred, please try again</div>
  }

  <main id="board">
    <header>
      <h2>
        <a href="@routes.BoardController.show(board.name)">
          @("%s - %s".format(board.slashizedName, board.fullName))
        </a>
      </h2>
    </header>
    <section id="threads">
    @threadOption match {
      case Some(thread) => { @views.html.thread(board, thread, singleThreadView = true) }
      case _ => {
        @for(thread <- board.threads.get) {
          @views.html.thread(board, thread)
        }
      }
    }
    </section>
  </main>

  <aside id="post-form-container">
    @defining(threadOption match {
      case Some(thread) => (routes.BoardController.postInThread(board.name, thread.op.no), "Reply")
      case _ => (routes.BoardController.createThread(board.name), "Create thread")
    }) { case (actionUrl, actionName) =>
      @form(action = actionUrl, 'enctype -> "multipart/form-data") {
        @if(actionName == "Create thread") {
          @inputText(postForm("subject"), '_showConstraints -> false, 'placeholder -> "Subject")
        }
        @textarea(postForm("content"), '_showConstraints -> false, 'placeholder -> "Message")
        @inputFile(postForm("file"))
        <button type="submit">@actionName</button>
      }
    }
  </aside>

}
