@(board: entities.Board, postForm: Form[forms.PostForm])(implicit flash: Flash)

@import helper._

@main(board.slashizedName + " - " + board.fullName) {

  @flash.get("error").map { message =>
    <div>@message</div>
  }

  @flash.get("failure").map { _ =>
    <div>Internal error has occurred, please try again</div>
  }

  <main id="board">
    <header>
      <h2>@(board.slashizedName + " - " + board.fullName)</h2>
    </header>
    <section id="threads">
      @for(thread <- board.threads.get) {
        <article class="thread">
            @defining(thread.op) { op =>
             <section class="file">
               <aside class="info">
                 @defining(op.fileMetadata.get) { metadata =>
                   File: @metadata.originalName
                 (@metadata.size · @metadata.dimensions)
                 }
               </aside>
               <a href="@routes.FileController.get(name = op.fileName.get, thumbnail = false)">
                 <img src="@routes.FileController.get(name = op.thumbnailName.get, thumbnail = true)" />
               </a>
             </section>
          <article class="reply op">
            <section class="info">
              <strong>Anonymous</strong> · #@op.no
            </section>
            <section class="content">
              @op.content
            </section>
            }
          </article>
          @for(reply <- thread.replies) {
            <article class="reply">
              reply
            </article>
          }
        </article>
      }
    </section>
  </main>

  <aside id="post-form-container">
    @form(action = routes.BoardController.createThread(board.name), 'enctype -> "multipart/form-data") {
      @textarea(postForm("content"), '_showConstraints -> false, 'placeholder -> "Message")
      @inputFile(postForm("file"))
      <button type="submit">Create thread</button>
    }
  </aside>

}
