@(board: models.entities.Board,
  threads: List[models.entities.Thread],
  isSingleThreadView: Boolean = false,
  currentPageNo: Option[Int] = None,
  numPages: Option[Int] = None,
  postForm: Form[models.forms.PostForm])(implicit lang: Lang, flash: Flash)

@import helper._

@pageRoute(boardName: String, pageNo: Int) = {
  @if(pageNo == 1) {
    @routes.BoardController.show(boardName)
  } else {
    @routes.BoardController.showPage(boardName, pageNo)
  }
}

@main("%s - %s".format(board.slashizedName, board.fullName)) {

  @flash.get("error").map { message =>
    <div>@message</div>
  }

  @flash.get("failure").map { _ =>
    <div>@Messages("errors.internal")</div>
  }

  <main id="board">
    <header>
      <h2>
        <a href="@routes.BoardController.show(board.name)">
          @("%s - %s".format(board.slashizedName, board.fullName))
        </a>
      </h2>
    </header>
    <section id="threads">
      @if(isSingleThreadView) {
        @views.html.thread(board, threads.head, isSingleThreadView = true)
      } else {
        @for(thread <- threads) { @views.html.thread(board, thread) }
      }
    </section>
    @if(!isSingleThreadView) {
      <section id="pagination">
        @if(currentPageNo.get > 1) {
          <a href="@pageRoute(board.name, currentPageNo.get - 1)">@Messages("threadPage.previous")</a>
        }
        <ol id="page-list">
          @for(pageNo <- 1 to numPages.get) {
            <li class="entry @if(pageNo == currentPageNo.get) {active}">
              <a href="@pageRoute(board.name, pageNo)">@pageNo</a>
            </li>
          }
        </ol>
        @if(currentPageNo.get < numPages.get) {
          <a href="@pageRoute(board.name, currentPageNo.get + 1)">@Messages("threadPage.next")</a>
        }
      </section>
    }
  </main>

  <aside id="post-form-container">
    @defining(
      if(isSingleThreadView) (routes.BoardController.postInThread(board.name, threads.head.op.no), Messages("postForm.reply"))
      else (routes.BoardController.createThread(board.name), Messages("postForm.createThread"))
    ) { case (actionUrl, actionName) =>
      @form(action = actionUrl, 'enctype -> "multipart/form-data") {
        @if(actionName == Messages("postForm.createThread")) { @* TODO: Perhaps check this in some other way *@
          @inputText(postForm("subject"), '_showConstraints -> false, 'placeholder -> Messages("postForm.subject"))
        }
        @inputText(postForm("name"), '_showConstraints -> false, 'placeholder -> Messages("postForm.name"))
        @inputText(postForm("email"), '_showConstraints -> false, 'placeholder -> Messages("postForm.email"))
        @textarea(postForm("content"), '_showConstraints -> false, 'placeholder -> Messages("postForm.content"))
        @inputFile(postForm("file"))
        <button type="submit">@actionName</button>
      }
    }
  </aside>

}
