@(board: models.entities.Board, thread: models.entities.Thread, isSingleThreadView: Boolean = false)(implicit lang: Lang)

@import utils.Utils
@import play.twirl.api.Html

@threadRoute(boardName: String, threadNo: Int) = { @routes.BoardController.showThread(boardName, threadNo) }

@postHeader(post: models.entities.Post, isOp: Boolean) = {
  <header>
    @post.subject match {
      case Some(subject) => {
        <span class="subject">
          @subject
        </span> ·
      }
      case None => { }
    }
    <span class="poster-name">
      @defining(
        post.name match {
          case Some(name) => name
          case _ => Messages("anonymous")
        }
      ) { name =>
        @post.email match {
          case Some(email) => {
            <a href="mailto:@email">@name</a>
          }
          case _ => { @name }
        }
      }
    </span> ·
    <span class="date">
      @Utils.formatDate(post.date) ·
    </span>
    <a class="no" href="@threadRoute(board.name, thread.no)#post-@post.no">
      #@post.no
    </a>
    @if(isOp && !isSingleThreadView) {
      <a class="reply-link" href="@threadRoute(board.name, thread.no)">
        @Messages("thread.reply")
      </a>
    }
  </header>
}

@file(post: models.entities.Post) = {
  @defining(post.fileMetadata.get) { metadata =>
    <aside class="file-info">
      <a href="@routes.FileController.get(name = post.fileName.get, thumbnail = false)">@metadata.originalName</a>
      (@metadata.size · @metadata.dimensions)
    </aside>
  }
  <a href="@routes.FileController.get(name = post.fileName.get, thumbnail = false)">
    <img src="@routes.FileController.get(name = post.thumbnailName.get, thumbnail = true)" />
  </a>
}

<article class="thread">
  @postHeader(post = thread.op, isOp = true)
  @file(post = thread.op)
  @for(post <- thread.op :: thread.replies) {
    <article id="post-@post.no" class="post">
      @if(post != thread.op) { <aside class="indicator">>></aside> }
      <section class="body">
        @if(post != thread.op) {
          @postHeader(post, isOp = false)
          @post.fileMetadata match {
            case Some(metadata) => { @file(post) }
            case _ => { }
          }
        }
        <blockquote class="content">
          @if(isSingleThreadView) {
            @Html(post.content)
          } else {
            @Html(post.contentPreview(500))
          }
        </blockquote>
        @if(!isSingleThreadView && post.content.length > 500) {
          <aside class="text-too-long-msg">
            @Html(
              Messages("thread.textTooLong")
                  .format( """<a href="%s">%s</a>""".format(threadRoute(board.name, thread.no),
                                                            Messages("thread.clickHere")))
            )
          </aside>
        }
      </section>
    </article>
    @if(!isSingleThreadView && post == thread.op) {
      @defining(thread.numReplies - thread.replies.length) { numOmmitedReplies =>
        @if(numOmmitedReplies > 0) {
          <aside class="omitted-posts-msg">
            @Html(
              Messages("thread.ommitedReplies")
                .format(numOmmitedReplies,
                        """<a href="%s">%s</a>""".format(threadRoute(board.name, thread.no),
                                                         Messages("thread.clickHere")))
            )
          </aside>
        }
      }
    }
  }
</article>
