@(thread: entities.Thread)

<article class="thread">
  @defining(thread.op) { op =>
    <section class="file">
      <aside class="info">
        @defining(op.fileMetadata.get) { metadata =>
          File: @metadata.originalName
        (@metadata.size · @metadata.dimensions)
        }
      </aside>
      <a href="@routes.FileController.get(name = op.fileName.get, thumbnail = false)">
        <img src="@routes.FileController.get(name = op.thumbnailName.get, thumbnail = true)" />
      </a>
    </section>
    <article class="reply op">
      <section class="info">
        <strong>Anonymous</strong> · #@op.no
      </section>
      <section class="content">
      @op.content
      </section>
  }
</article>
  @for(reply <- thread.replies) {
    <article class="reply">
              reply
    </article>
  }
</article>
