@(board: entities.Board, thread: entities.Thread, singleThreadView: Boolean = false)

<article class="thread">
  @defining(thread.op) { op =>
    <section class="file">
      <aside class="info">
        @defining(op.fileMetadata.get) { metadata =>
          File: @metadata.originalName
        (@metadata.size · @metadata.dimensions)
        }
      </aside>
      <a href="@routes.FileController.get(name = op.fileName.get, thumbnail = false)">
        <img src="@routes.FileController.get(name = op.thumbnailName.get, thumbnail = true)" />
      </a>
    </section>
    <article id="post-@op.no" class="reply op">
      <section class="info">
        <span class="poster-name">Anonymous</span> ·
        <a href="@routes.BoardController.showThread(board.name, thread.op.no)#post-@op.no">#@op.no</a>
        @if(!singleThreadView) {
         · <a class="reply-link" href="@routes.BoardController.showThread(board.name, thread.op.no)">Reply</a>
        }
      </section>
      <section class="content">
      @op.content
      </section>
  }
</article>
  @for(reply <- thread.replies) {
    <article id="post-@reply.no" class="reply">
      <section class="info">
        <span class="poster-name">Anonymous</span> ·
        <a href="@routes.BoardController.showThread(board.name, thread.op.no)#post-@reply.no">#@reply.no</a>
      </section>
      <section class="content">
        @reply.content
      </section>
    </article>
  }
</article>
